# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
*.log

# Static & Media
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Python Cache
.pytest_cache/
.coverage
htmlcov/

# Migrations Cache
*.sqlite3-journal